/.env
/session.txt
/cover.out

/internal/v0/app/.env
/internal/v0/app/session.txt
/whatsapp.db
/whatsapp.db-journal

.env
/.idea/
/bin/.env
/vendor/gitlab.aescorp.ru/dsp_dev/claim/nikitin/common/whatsapp.db
/bin/whatsapp.db
/bin/whatsapp_chatgpt.exe
/bin/whatsapp_chatgpt
/log.jsonl
/updates.bolt.db
/peers.pebble.db/
/log/
